<div class="container">
    <h1>My Favorites</h1>
    <% if notice.present? %>
        <div class="alert alert-info">
            <p id="notice"><%= notice %></p>
        </div>
    <% end %>
    
    <div class="d-flex">
        <% @posts.each do |post| %>
            <div class="card mt-3 mr-3" style="width: 18rem;">
                <%= image_tag post.image.url, class:"card-img-top" %>
                <div class="card-body">
                    <% unless post.user_id == current_user.id %>
                        <% if current_user.favorites.find_by(post_id: post.id).present? %>
                            <%= link_to "", favorite_path(post.id), method: :delete, class:"fa fa-heart favorite"%>   
                        <% else %>
                            <%= link_to "", favorites_path(post.id), method: :post, class:"fa fa-heart-o favorite"%>   
                        <% end %>
                    <% end %>
                    <p class="card-text"><%=post.content%></p>
                    <%= link_to 'Show', post_path(post.id),class:"btn btn-primary mr-3" %> 
                    <p class="author">By <b><%= post.user.firstname+" "+post.user.lastname%></b> </p>
                </div>
            </div>
        <% end %>
    </div>
</div>