<div class="container">
    <h1>Profile</h1>
    <div class="row d-flex">
        <div class="col col-md-6 w-100 text-center">
            <%= image_tag default_or_image(@user), class:"rounded-circle w-75 h-75" %>
        </div>
        <div class="col col-md-6 w-100 mb-4">
            <table>
                <tr>
                    <th>Firstname : </th>
                    <td> <%=@user.firstname%> </td>
                </tr>
                <tr>
                    <th>Lastname : </th>
                    <td> <%=@user.lastname%> </td>
                </tr>
                <tr>
                    <th>Birthday : </th>
                    <td> <%=@user.birthday%> </td>
                </tr>
                <tr>
                    <th>Gender : </th>
                    <td> <%=@user.gender%> </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row text-center">
        <div class="col col-12 mb-4">
            <%= link_to  "Edit Profile", edit_user_path(current_user.id), class:"btn btn-outline-primary mr-3" %>
        </div>
    </div>
</div>
