<div class="container">
    <h1>Confirm</h1>

    <%= form_with(model: @post, local: true) do |f| %>
        <%= f.hidden_field :content, class:"form-control", placeholder:"Content" %>
        <%= f.hidden_field :image, class:"form-control-file" %>
        <%= f.hidden_field :image_cache %>
        <p> <%=@post.content%> 
            <%= image_tag @post.image.url, class:"w-100" if @post.image && @post.image.url %>
        </p>
        <%= f.submit  "Confirm", class:"btn btn-success" %>
        <%= f.submit"Back", name: 'back', class:"btn btn-primary" %>
    <% end %>
</div>